html {
  scroll-behavior: smooth;
}
body {
  background-image: url("imagenes/descarga.jfif");
  backdrop-filter: blur(10px);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
header {
  width: 100%;
  margin: 0px auto;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 1, 66, 0.3);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: x-small;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo {
  object-fit: contain;
  display: flex;
  justify-content: flex-start;
}
.logo img {
  height: 40px;
  width: 60px;
  object-fit: contain;
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main-search {
  position: relative;
  margin-top: 6px;
}
.main-search input {
  font-size: 15px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid black;
  background: transparent;
}
.main-search button {
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main-search img {
  border: 1px solid black;
  border-right: 30px;
  border-bottom: 20px;
  border-top: 20px;
  height: 22px;
  width: 22px;
  padding: 9px;
}
.container {
  margin-top: 70px;
  display: grid;
  justify-content: space-around;
  align-content: space-around;
  justify-items: center;
  padding: 20px;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 550px 100px 550px;
  grid-auto-flow: row;
}
.ppicture {
  height: 300px;
  width: 300px;
}
.container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.link {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  padding: 20px;
}
.link img {
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.671);
  border-radius: 20px;
  height: 30px;
  width: auto;
}
.item-a {
  text-align: center;
  grid-column: 1;
  padding: 20px;
  border-style: solid;
  border-color: lightgrey;
}
.item-b {
  text-align: center;
  grid-column: 2;
  padding: 20px;
  border-style: solid;
  border-color: lightgrey;
}
.item-c {
  text-align: center;
  grid-column: 3;
  padding: 20px;
  border-style: solid;
  border-color: lightgrey;
}
.item-d {
  text-align: center;
  grid-column: 1;
  grid-row: 3 / 3;
  padding: 20px;
  border-style: solid;
  border-color: lightgrey;
}
.item-e {
  text-align: center;
  grid-column: 2;
  grid-row: 3 / 3;
  padding: 20px;
  border-style: solid;
  border-color: lightgrey;
}
.item-f {
  text-align: center;
  grid-column: 3;
  grid-row: 3 / 3;
  padding: 20px;
  border-style: solid;
  border-color: lightgrey;
}
footer {
  display: block;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 100px;
}
footer h2 {
  padding-top: 20px;
  font-size: medium;
  color: lightgrey;
  text-align: center;
  border-top: solid;
  border-color: lightgray;
}
.logofooter {
  display: flex;
  justify-content: center;
  align-self: center;
}
.logofooter img {
  height: 100px;
  width: auto;
  align-self: center;
}
footer .nav {
  font-size: x-small;
  align-self: center;
}
.footerlink {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  padding: 20px;
}
.footerlink img {
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.671);
  border-radius: 20px;
  height: 30px;
  width: auto;
}
